
@font-face {
  font-family: Fragmentcore;
  src: url("fonts/Fragmentcore.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: Fragmentcore sans-serif;
}

a {
  color: black !important;
  text-decoration: none;
}

.table-cell {
  display: table-cell;
}

.vertical-middle {
  vertical-align: middle;
}

.home_page_content_container {
  height: 50vh;
  display: table;
  width: 100%
}

.home_page_content_wrapper {
  /*border: 1px solid red;*/
}

@media (min-width: 1200px) {
  .home_page_content_wrapper {
    max-width: 70%;
  }
}

.footer_wrapper {
  border-top: 1px solid #cccccc;
  background-color: #f3f3f3;
  text-align: center;
}